$main-color-dark: #8d81ac;
$main-color-white: #fff;
$main-font-1: ﻿'Montserrat', sans-serif;
$main-font-1: ﻿'Lato', sans-serif;


.container {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
}
.navbar {
    padding: 31px 0;
    background-color: #27262a;
}

.navbar-menu {
    display: none;
}

.btn {
    background-color: $main-color-dark;
    border-radius: 44px;
    font-family: $main-font-1;
    font-size: 15px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 700;
}

.btn-small {
    padding: 12px 24px;
}

.btn-big {
    padding: 16px 32px;
}

.navbar-toggler {
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.navbar-toggler-line {
    width: 26px;
    height: 2px;
    background-color: #e5e3e3;
    margin-bottom: 7px;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.presentation-content {
    display: flex;
    flex-wrap: wrap;
}

.btn-big-text {
    color: rgba(132, 142, 151, 255);
    font-size: 14px;
    text-align: center;
}