@charset "UTF-8";
.container {
  width: 100%;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.navbar {
  padding: 31px 0;
  background-color: #27262a; }

.navbar-menu {
  display: none; }

.btn {
  background-color: #8d81ac;
  border-radius: 44px;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 700; }

.btn-small {
  padding: 12px 24px;
}

.btn-big {
  padding: 16px 32px;
}

.navbar-toggler {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.navbar-toggler-line {
  width: 26px;
  height: 2px;
  background-color: #e5e3e3;
  margin-bottom: 7px; }

.navbar-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

/*# sourceMappingURL=main.css.map */