
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}
.navbar {
    padding: 31px 0;
    background-color: #27262a;
}

.navbar-menu {
    display: none;
}

.btn {
    background-color: #8d81ac;
    border-radius: 44px;
    font-family: '﻿Montserrat', sans-serif;
    font-size: 14px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 700;
}

.btn:hover {
    background-color: #ffffff;
    color: rgba(141, 129, 172, 255);
}

.btn-small {
    padding: 12px 24px;
}

.btn-big {
    margin-top: -22px;
    padding: 16px 32px;
}

.navbar-toggler {
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.navbar-toggler-line {
    width: 26px;
    height: 2px;
    background-color: #e5e3e3;
    margin-bottom: 7px;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.presentation-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
}

.btn-big-text {
    width: 100%;
    color: rgba(132, 142, 151, 255);
    font-size: 14px;
    text-align: center;
    margin-top: 13px;
}

.presentation-content-title {
    width: 100%;
    font-size: 20px;
    color: rgba(99, 92, 115, 255);
    font-weight: 700;
    margin-top: 70px;
    padding-left: 42px;
    padding-right: 42px;
    font-family: '﻿Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 30px;
}

.presentation-content-text {
    width: 100%;
    font-family: 'Lato', sans-serif;
    color: rgba(50, 50, 50, 255);
    text-align: center;
    font-size: 12px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 15px;
    margin-top: 20px;
}

.reviews {
    display: flex;
    width: 120px;
    height: 26px;
    border: 1px #dddddd solid;
    margin-left: 5px;
    margin-top: 20px;
}

.presentation-content-reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button {
    height: 27px;
    margin-top: -1px;
    font-weight: 700;
}

.button-text {
    width: 40px;
    line-height: 27px;
    font-weight: 700;
    text-align: center;
}

.button-text2 {
    width: 50px;
    line-height: 27px;
    font-weight: 700;
    text-align: center;
}

.button-big {
    width: 80px;
}

.button-small {
    width: 70px;
}

.preference {
    background-color: #f4f4f4;
    text-align: center;
    margin-top: 88px;
}

.preference-content-title {
    padding: 35px 45px 35px 45px;
    color: rgba(141, 129, 172, 255);
    text-align: center;
    font-family: '﻿Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 700;
}

.preference-content-title:after {
    content: '\003E';
    display: inline-block;
}

.preference-content-title:before {
    content: '\003C';
    display: inline-block;
}

.preference-content-title-image {
    padding-top: 30px;
    padding-bottom: 20px;
    color: rgba(50, 50, 50, 255);
    text-align: center;
    font-family: '﻿Montserrat', sans-serif;
    font-size: 16px;
}

.preference-content-text-image {
    padding-bottom: 35px;
    font-family: 'Lato', sans-serif;
    color: rgba(132, 142, 151, 255);
    text-align: center;
    font-size: 12px;
    padding-left: 30px;
    padding-right: 30px;
}

.preference-content-image-after {
    /*width: 716px;*/
    /*height: 381px;*/
    /*display: inline-block;*/
}
.preference-content-image-after-div {
    overflow: hidden;
}

.pricing-plan {
    background-color: #4b3b4e;
    padding-bottom: 50px;
}

.pricing-item {
    flex: 0 0 80%;
}

.pricing-plan-content-title {
    width: 100%;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    font-size: 22px;
    font-family: '﻿Montserrat', sans-serif;
    font-weight: 700;
    padding-top: 71px;
    padding-bottom: 53px;
}

.pricing-plan-content-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pricing-plan-content-pay {
    width: 100%;
    height: 457px;
    background-color: #5f5161;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing-plan-content-pay-title {
    width: 100%;
    height: 97px;
    background-color: #685b6a;
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    font-family: '﻿Montserrat', sans-serif;
    line-height: 97px;
    margin-bottom: 35px;
}

.pricing-plan-content-pay-select {
    width: 100%;
    height: 560px;
    background-color: #413344;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing-plan-content-pay-title-select {
    width: 100%;
    height: 111px;
    background-color: #3a2d3d;
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    font-family: '﻿Montserrat', sans-serif;
    line-height: 111px;
    margin-bottom: 15px;
}

.pricing-plan-content-cost {
    color: rgba(255, 255, 255, 255);
    text-align: center;
    font-family: '﻿Montserrat', sans-serif;
    font-weight: 700;
    font-size: 56px;
}

.pricing-plan-after-price {
    color: #8f8691;
    text-align: center;
    font-size: 12px;
    font-family: '﻿Montserrat', sans-serif;
    text-transform: uppercase;
    margin-top: 24px;
}

.pricing-plan-content-pay-line {
    border: 3px solid #8d81ac;
    width: 60px;
    text-align: center;
    margin-top: 35px;
}

.pricing-plan-content-pay-licence {
    width: 160px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    font-family: '﻿Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: auto;
}

.btn-pricing-plan {
    padding: 15px 38px;
    background-color: #776b79;
    border-radius: 42px;
    text-decoration: none;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-family: '﻿Montserrat', sans-serif;
}



@media only screen and (min-width:481px) {
    .container-preference-content-image {
        width: 112px;
        height: 90px;
        text-align: center;
        float: left;
        margin-right: 20px;
    }
    .preference-content-title-image {
        padding-top: 0;
        padding-bottom: 10px;
        width: 80%;
        text-align: left;
    }
    .preference-content-text-image {
        text-align: left;
        width: 90%;
        line-height: 18px;
    }
    .pricing-plan-content {
        text-align: center;
    }
    .pricing-plan-content-title {
        font-size: 32px;
        width: 100%;
    }
    .pricing-plan-content-text {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .pricing-item {
        flex: 0 0 46%;
    }
}

@media only screen and (min-width:993px) {
    .container-preference-content-image {
        width: 115px;
        text-align: center;
        float: left;
        margin-right: 20px;
        padding-top: 0;
        padding-left: 50px;
    }
    .preference-content {
        padding-top: 80px;
        padding-bottom: 50px;
    }
    .preference-content-title-image {
        padding-top: 0;
        padding-bottom: 10px;
        width: 50%;
    }
    .preference-content-title-div {
        width: 50%;
        float: right;
        text-align: left;
    }
    .preference-content-text-image {
        text-align: left;
        width: 45%;
        line-height: 18px;
    }
    .preference-content-title {
        text-align: left;
        margin-top: -40px;
        font-size: 36px;
        padding-left: 12px;
    }
    .preference-content-image-after-div {
        float: right;
        margin-top: -400px;
        width: 50%;
    }
    .pricing-plan {
        background: url("../img/Layer 2@1X.png");
    }
    .pricing-plan-content-text {
        margin-left: 30px;
        margin-right: 30px;
    }
    .pricing-plan-content-pay {
        margin-top: 50px;
    }
    .pricing-plan-content-title {
        font-size: 36px;
    }
    .pricing-item {
        flex: 0 0 10%;
    }
    .presentation-content-title {
        font-size: 40px;
    }
    .presentation-content-text {
        font-size: 16px;
        width: 70%;
    }
}

@media only screen and (min-width:1200px) {
    body {
        width: 1200px;
        margin: 0 auto;
    }
    .preference {
        overflow: hidden;
    }
    .preference-content-image-after {
        overflow: hidden;
    }
}



