.preference {
  background-color: #f4f4f4;
  text-align: center;
  margin-top: 88px;
}

.preference-content-title {
  padding: 35px 45px 35px 45px;
  color: rgba(141, 129, 172, 255);
  text-align: center;
  font-family: '﻿Montserrat', sans-serif;
  font-size: 28px;
  font-weight: 700;
}

.preference-content-title:after {
  content: '\003E';
  display: inline-block;
}

.preference-content-title:before {
  content: '\003C';
  display: inline-block;
}

.preference-content-title-image {
  padding-top: 30px;
  padding-bottom: 20px;
  color: rgba(50, 50, 50, 255);
  text-align: center;
  font-family: '﻿Montserrat', sans-serif;
  font-size: 16px;
}

.preference-content-text-image {
  padding-bottom: 35px;
  font-family: 'Lato', sans-serif;
  color: rgba(132, 142, 151, 255);
  text-align: center;
  font-size: 12px;
  padding-left: 30px;
  padding-right: 30px;
}

.preference-content-image-after-div {
  overflow: hidden;
}





.preference {
  background-color: #f4f4f4;
  text-align: center;
  margin-top: 88px;
  &-content {

    &-title {
      padding: 35px 45px 35px 45px;
      color: rgba(141, 129, 172, 255);
      text-align: center;
      font-family: '﻿Montserrat', sans-serif;
      font-size: 28px;
      font-weight: 700;

      &-image {
        padding-top: 30px;
        padding-bottom: 20px;
        color: rgba(50, 50, 50, 255);
        text-align: center;
        font-family: '﻿Montserrat', sans-serif;
        font-size: 16px;
      }
    }

    &-title:after {
      content: '\003E';
      display: inline-block;
    }

    &-title:before {
      content: '\003C';
      display: inline-block;
    }
    &-text-image {
      padding-bottom: 35px;
      font-family: 'Lato', sans-serif;
      color: rgba(132, 142, 151, 255);
      text-align: center;
      font-size: 12px;
      padding-left: 30px;
      padding-right: 30px;
    }
    &-image-after-div {
      overflow: hidden;
    }
  }
}