@media only screen and (min-width:481px) {
  .container-preference-content-image {
    width: 112px;
    height: 90px;
    text-align: center;
    float: left;
    margin-right: 20px;
  }
  .preference-content-title-image {
    padding-top: 0;
    padding-bottom: 10px;
    width: 80%;
    text-align: left;
  }
  .preference-content-text-image {
    text-align: left;
    width: 90%;
    line-height: 18px;
  }
  .pricing-plan-content {
    text-align: center;
  }
  .pricing-plan-content-title {
    font-size: 32px;
    width: 100%;
  }
  .pricing-plan-content-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .pricing-item {
    flex: 0 0 46%;
  }
}
