.btn {
  background-color: $main-color-dark;
  border-radius: 44px;
  font-family: $main-font-1;
  font-size: 15px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 700;
}

.btn-big {
  margin-top: -22px;
  padding: 16px 32px;
}