@import "variables";
@import "mixins";
@import "sections/sections";
@import "components/components";

@media only screen and (min-width:481px) {
  .container-preference-content-image {
    width: 112px;
    height: 90px;
    text-align: center;
    float: left;
    margin-right: 20px;
  }
  .preference-content-title-image {
    padding-top: 0;
    padding-bottom: 10px;
    width: 80%;
    text-align: left;
  }
  .preference-content-text-image {
    text-align: left;
    width: 90%;
    line-height: 18px;
  }
  .pricing-plan-content {
    text-align: center;
  }
  .pricing-plan-content-title {
    font-size: 32px;
    width: 100%;
  }
  .pricing-plan-content-text {
    justify-content: space-between;
    vertical-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media only screen and (min-width:993px) {
  .container-preference-content-image {
    width: 115px;
    text-align: center;
    float: left;
    margin-right: 20px;
    padding-top: 60px;
  }
  .preference-content-title-image {
    padding-top: 60px;
    padding-bottom: 10px;
    width: 50%;
    text-align: left;
  }
  .preference-content-text-image {
    text-align: left;
    width: 45%;
    line-height: 18px;
  }
  .preference-content-title {
    position: absolute;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 50%;
    font-size: 36px;
  }
  .preference-content-image-after {
    position: absolute;
    margin-top: -380px;
  }
  .pricing-plan-content-text {
    margin-left: 30px;
    margin-right: 60px;
  }
  .pricing-plan-content-pay{
    margin-top: 50px;
  }
  .presentation-content-title {
    font-size: 40px;
  }
  .presentation-content-text {
    font-size: 16px;
    width: 70%;

  }
}

@media only screen and (min-width:1200px) {
  body {
    width: 1200px;
    margin: 0 auto;
  }
  .preference {
    overflow: hidden;
  }
  .preference-content-image-after {
    overflow: hidden;
  }
}